
<h1>Application Development Using Angular</h1>
<hr/>

<table border="1">
    <tbody>
        <tr>
            <th colspan="2">
                Employee Detail
            </th>
        </tr>
        <tr>
            <td>Emaployee ID</td>
            <td>{{EmployeeId}}</td>
        </tr>
        <tr>
            <td>Emaployee Name</td>
            <td>{{EmployeeName}}</td>
        </tr>
        <tr>
            <td>Emaployee Job</td>
            <td>{{EmployeeJob}}</td>
        </tr>
        <tr>
            <td>Emaployee Salary</td>
            <td>{{EmployeeSalary}}</td>
        </tr>
        <tr>
            <td>Emaployee Depo</td>
            <td>{{EmployeeDepo}}</td>
        </tr>
    </tbody>
</table>

<hr>