




<!-- <h1>Application Development Using Angular</h1>
<hr/>

<div style="border:2px solid gray; width:300px; padding : 5px; border-radius: 10px;">
  <h3>User Details</h3>
  User Name  : {{uname}}  <br/>
  User Email  : {{email}}  <br/>
  User Age  : {{age}}  <br/>
  Is Valid User  : {{isvalidUser}}  <br/>
</div>
<hr/> -->

<!-- <app-login></app-login> -->
<!-- <app-emp></app-emp> -->
<!-- <app-friend></app-friend>  -->
<!-- <app-product-details></app-product-details> -->

<app-product-list   category="mobile"></app-product-list>    
<app-product-list [category]="category1"></app-product-list>
<!-- <app-product></app-product> -->
<!-- <app-greeting [uname]="user"></app-greeting> -->

<hr/>
